apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: demo-voting-app
spec:
  replicas: 1
  selector:
    matchLabels:
      name: postgres-app-pod
       app: demo-voting-app
  template:
    metadata:
      name: postgres-pod

      labels:
        app: postgres-voting-app
        name: postgres-app-pod

    spec:
      containers:
        containers:
          - name: postgres
            image: postgres
            ports:
              - containerPort: 5432